@model IEnumerable<Labb2.Models.Subject>

@{
    ViewData["Title"] = "Hämta lärare i Programmering 1";
}

<h1>Alla lärare i Programmering 1</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Lärarens namn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
            </td>
            </tr>
     
}
    </tbody>
</table>
